/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;
}

fieldset {
  border: none;
}
legend {
    font-size: 1.3em;
    color: #EF3459;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: #EF3459 solid medium;
}


#emailreq,
#retypereq,
#submit {
    font-size: .85em;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
