/* Tour page styles */
table {
  margin-left: auto;
}

caption {
    font-size: 1.3em;
    color: #EF3459;
}

th, td {
  padding: .5em;
}

.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}
